*,
*::after,
*::before{ 
    padding: 0;
    margin: 0;
    bottom:0;
}
.wrapper{
    width: 900px;
    background-color: #ccffec;
    margin: 0 auto;
}
.box{
    width: 200px;
    height: 200px;
    display: inline-block;
    padding: 20px;
    margin: 25px;
    border:5px solid#ddafff
}
.box1{
    background-color: #ffd5f9;
}
.box2{
    background-color: #a6e0ff;
}
.box3{
    background-color: #c3ffad;
}
